import { Command } from '@athenna/artisan'

export class {{ namePascal }} extends Command {
  public static signature(): string {
    return '{{ nameCamel }}'
  }

  public static description(): string {
    return 'The description of {{ nameCamel }} command.'
  }

  public async handle(): Promise<void> {
    //
  }
}
