import { Command, BaseCommand } from '@athenna/artisan'

@Command()
export class {{ namePascal }} extends BaseCommand {
  public static signature(): string {
    return '{{ nameCamel }}'
  }

  public static description(): string {
    return 'The description of {{ nameCamel }} command.'
  }

  public async handle(): Promise<void> {
    //
  }
}
